<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>RicksAmericanNF.ttf</string>
		<string>HenriDidot.otf</string>
		<string>bettynoir.ttf</string>
		<string>Pink Yellow Black.ttf</string>
		<string>Pent-Up Rage.ttf</string>
		<string>23 seconds to midnight.ttf</string>
		<string>Deutschlander.otf</string>
		<string>Chomsky.otf</string>
	</array>
</dict>
</plist>
